

	<div class="container">
		<div class="content">
			<section id="carousel">
	<div class="row">
		<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvhr2rurUAF1Wq2hmMzXVewbeBjfpoOoJVIfN79b-Pli_xDS8Z"
	</div><!-- /.row -->
</section>

<hr class="thick">

<section id="featured">
	<div class="row">
		<div class="span12">
			<article>
				<time class="updated">July 01, 2012</time>
				<h1 class="entry-title"><a href="single.html">Mauris, quis sollicitudin sapien justo</a></h1>
				<hr class="invisible">
				<div class="entry-summary columns3">
					<p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed etiam at risus et justo congue molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac.</p>
				</div>
			</article>
		</div>
	</div><!-- /.row -->
</section><!-- /#featured -->

<hr>

<section id="latest">
	<div class="row">
		<div class="col-md-4" style="margin-left: 2%; margin-right:5%;">
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT-liNmGWaIA1J3UJAWhYKlvu4_Hs6RIiE16WryK_-viqoNKs3G-g"/>
		</div>
		<div class="col-md-7">
			<article>
				<time class="updated">June 28, 2012</time>
				<h3 class="entry-title"><a href="single.html">Placerat dignissim fringilla</a></h3>
				<div class="entry-summary">
					<p>Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna, quis sollicitudin sapien justo in libero.</p>
				</div>
			</article>
			<hr>
			<article>
				<time class="updated">June 24, 2012</time>
				<h3 class="entry-title"><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
				<div class="entry-summary">
					<p>Onec congue lacinia dui, faucibus a porttitor lectus aliquet condimentum laoreet. Nunc euulla at aliquet nulla je condimentumusto, eget luctus tortor. Nulla facilisi. Duis aliquet egestas condimentum eget odio purus in blandit.</p>
				</div>
			</article>
			<hr>
			<article>
				<time class="updated">June 20, 2012</time>
				<h3 class="entry-title"><a href="single.html">Euismod magna ac lorem mauris</a></h3>
				<div class="entry-summary">
					<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam ac lorem rutrum elementum.</p>
				</div>
			</article>
			<hr>
		</div>
	</div><!-- /.row -->
</section><!-- /#latest -->

		</div><!-- /.content -->
	</div> <!-- /.container -->

	<hr class="invisible">

<div class="container">
	<footer class="content" id="content-info" role="contentinfo">
		<hr class="thick">
		<div class="row">
			<div class="span4" id="about">
				<h4>About</h4>
				<p>Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id.</p>
			</div>
			<hr class="visible-phone">
			<div class="span3" id="twitter">
				<h4>Twitter</h4>
				<div id="tweets"></div><!-- chirp.js -->
			</div>
			<div class="span4 offset1 text-align-right">
				<h2 class="brand"><a href="index.html">Svalbard</a></h2>
			</div>
		</div><!-- /.row -->
		<hr>
		<div class="row">
			<div class="span12" id="colophon">
				<p class="pull-right">1 Infinite Loop, Cupertino, CA 12345 / 000.000.0000</p>
				<p>© 2012 Philippe Dionne / Made in Canada</p>
			</div>
		</div><!-- /.row -->
	</footer>
</div> <!-- /container -->